<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="../css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="example-site/">Home</a></li>
		        	<li><a href="example-site/about">About</a></li>
	        		<li><a href="example-site/cv">CV</a></li>
	        		<li><a href="example-site/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:adharshkamathr@gmail.com">email</a></li>
	        		<li><a href="https://github.com/adharshkamath">github.com/adharshkamath</a></li>
				</ul>
			</footer>
		</body>
	</html>
